html, body {
    font-family: 微软雅黑,宋体,Arial,Helvetica,Verdana,sans-serif !important;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    font-size: 12px;
    color: #475059;
}

.navbar {
    background-color: #1abc9c;
    border-radius:0;
}
.navbar .navbar-header a{
    color:#fff;
}