@{

}
<nav class="navbar navbar-default">
    <div class="navbar-header">
        @Html.ActionLink("实验室管理系统", "Index", "Home", null, new { @class = "navbar-brand" })
    </div>
    <div class="pull-right">
        <ul class="nav navbar-nav pull-right">
            <li></li>
        </ul>
    </div>
</nav>