@{

}
@section scripts{
    <script type="text/javascript">
        $(function () {
            DWZ.init("Scripts/jui/dwz.frag.xml", {
                callback: function () {
                    initEnv();
                }
            });
        });
    </script>
}
<body>
    <div id="layout">
        <div id="header">
            <div class="headerNav">
                <a class="logo" href="http://j-ui.com">标志</a>
                <ul class="nav">
                    <li><a href="changepwd.html" target="dialog" width="600">设置</a></li>
                    <li><a href="login.html">退出</a></li>
                </ul>
            </div>
        </div>
        <div id="leftside">
            <div id="sidebar_s">
                <div class="collapse">
                    <div class="toggleCollapse"><div></div></div>
                </div>
            </div>
            <div id="sidebar">
                <div class="toggleCollapse"><h2>主菜单</h2><div>收缩</div></div>
                <div class="accordion" fillspace="sidebar">
                    <div class="accordionHeader">
                        <h2><span>Folder</span>界面组件</h2>
                    </div>
                    <div class="accordionContent">
                        <ul class="tree treeFolder">
                            <li>
                                <a href="tabsPage.html" target="navTab">主框架面板</a>
                                <ul>
                                    <li><a href="main.html" target="navTab" rel="main">我的主页</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="container">
            <div id="navTab" class="tabsPage">
                <div class="tabsPageHeader">
                    <div class="tabsPageHeaderContent">
                        <ul class="navTab-tab">
                            <li tabid="main" class="main"><a href="javascript:;"><span><span class="home_icon">我的主页</span></span></a></li>
                        </ul>
                    </div>
                </div>
                <ul class="tabsMoreList">
                    <li><a href="javascript:;">我的主页</a></li>
                </ul>
                <div class="navTab-panel tabsPageContent layoutBox">

                </div>
            </div>
        </div>
    </div>
</body>