@{

}
@section scripts{
    <script type="text/javascript">
        $(function () {
            DWZ.init("Scripts/jui/dwz.frag.xml", {
                callback: function () {
                    initEnv();
                }
            });
        });
    </script>
}
<body>
    <div id="layout">
        <div id="header">
            <div class="headerNav">
                <a class="logo">标志</a>
                <ul class="nav">
                    <li><a href="changepwd.html" target="dialog" width="600">设置</a></li>
                    <li><a href="login.html">退出</a></li>
                </ul>
            </div>
        </div>
        <div id="leftside">
            <div id="sidebar_s">
                <div class="collapse">
                    <div class="toggleCollapse"><div></div></div>
                </div>
            </div>
            <div id="sidebar">
                <div class="toggleCollapse"><h2>主菜单</h2><div>收缩</div></div>
                <div class="accordion" fillspace="sidebar">
                    <div class="accordionHeader">
                        <h2><span>Folder</span>实验室中心</h2>
                    </div>
                    <div class="accordionContent">
                        <ul class="tree treeFolder">
                            <li>
                                @Html.ActionLink("实验室信息", "LabInfo", "Lab", null, new { target="navTab",rel="LabInfo"})
                                <a href="#">规章守则</a>
                                <a href="#">实验室预约</a>
                            </li>
                        </ul>
                    </div>
                    <div class="accordionHeader">
                        <h2><span>Folder</span>仪器设备中心</h2>
                    </div>
                    <div class="accordionContent">
                        <ul class="tree treeFolder">
                            <li>
                                <a href="#">仪器设备分类</a>
                                <a href="#">仪器设备清单</a>
                                <a href="#">入库</a>
                                <a href="#">出库</a>
                                <a href="#">使用记录</a>
                                <a href="#">保养中心</a>
                                <a href="#">维修中心</a>
                                <a href="#">仪器设备标定</a>
                                <a href="#">报废申请</a>
                                <a href="#">借用申请</a>
                                <a href="#">购入申请</a>
                            </li>
                        </ul>
                    </div><div class="accordionHeader">
                        <h2><span>Folder</span>耗材中心</h2>
                    </div>
                    <div class="accordionContent">
                        <ul class="tree treeFolder">
                            <li>
                                <a href="#">耗材分类</a>
                                <a href="#">耗材清单</a>
                                <a href="#">入库</a>
                                <a href="#">出库</a>
                                <a href="#">购入申请</a>
                            </li>
                        </ul>
                    </div>
                    <div class="accordionHeader">
                        <h2><span>Folder</span>系统设置</h2>
                    </div>
                    <div class="accordionContent">
                        <ul class="tree treeFolder">
                            <li>
                                <a href="#">个人中心</a>
                                <a href="#">新用户注册</a>
                                <a href="#">用户管理</a>
                                <a href="#">系统日志</a>
                                <a href="#">邮件设置</a>
                                <a href="#">用户反馈信息</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="container">
            <div id="navTab" class="tabsPage">
                <div class="tabsPageHeader">
                    <div class="tabsPageHeaderContent">
                        <ul class="navTab-tab">
                            <li tabid="main" class="main"><a href="javascript:;"><span><span class="home_icon">我的主页</span></span></a></li>
                        </ul>
                    </div>
                </div>
                <ul class="tabsMoreList">
                    <li><a href="javascript:;">我的主页</a></li>
                </ul>
                <div class="navTab-panel tabsPageContent layoutBox">

                </div>
            </div>
        </div>
    </div>
</body>